<form class="add-form">
    <div class="form-control">
        <label for="text">E-Mail</label>
        <input type="text" name="email" [(ngModel)]="email" id="email" placeholder="Enter E-Mail Address"/>
    </div>
    <div class="form-control">
        <label for="subscription">Subsription Type</label>
        <select id="subscription" name="subscription" [(ngModel)]="subscription">
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
            <option value="Basic">Basic</option>
        </select>
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="text" name="password" [(ngModel)]="password" id="password" placeholder="Enter a Password"/>
    </div>
    <div class="form-control">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" name="confirmPassword" [(ngModel)]="confirmPassword" id="confirm-password" placeholder="Please Confirm Password"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-block"/> <input type="submit" value="Clear" class="btn btn-block"/>
</form>
